@model IEnumerable<TrashPickup.Models.ApplicationUser>
@{
    ViewBag.Title = "WorkerSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Today's Schedule</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.StreetAddress)
        </th>
    </tr>
@foreach (var user in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(i => user.FirstName)
        </td>
        <td>
            @Html.DisplayFor(i => user.LastName)
        </td>
        <td>
            @Html.DisplayFor(i => user.StreetAddress)
        </td>
    </tr>
}

</table>